[Unit]
Description=Pocket Surf Local Chat
After=pocket-surf.pod.service
Requires=pocket-surf.pod.service

[Container]
Image=localhost/pocket-surf-chat:latest
Pod=pocket-surf.pod

Restart=always
RestartSec=10s

HealthCmd=/usr/bin/wget --no-verbose --tries=1 --spider http://localhost:8000/ || exit 1
HealthInterval=30s
HealthRetries=3
HealthStartPeriod=15s

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target default.target
