[Unit]
Description=Pocket Surf BookStack Knowledge Base
After=pocket-surf-bookstack-db.container.service
Requires=pocket-surf-bookstack-db.container.service pocket-surf.pod.service

[Container]
Image=lscr.io/linuxserver/bookstack:latest
Pod=pocket-surf.pod

Volume=bookstack-config:/config:Z

Environment=PUID=1000
Environment=PGID=1000
Environment=APP_URL=http://wiki.local
Environment=DB_HOST=localhost
Environment=DB_PORT=3306
Environment=DB_USER=bookstack
Environment=DB_PASS=bookstack
Environment=DB_DATABASE=bookstackapp

Restart=always
RestartSec=10s

HealthCmd=/usr/bin/wget --no-verbose --tries=1 --spider http://localhost:80/ || exit 1
HealthInterval=30s
HealthRetries=3
HealthStartPeriod=60s

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
